@charset "UTF-8";
.s_center{
	position: absolute;
	left: 26%;
	width: 47%;
	height: 90%;
	top:5%;
	background-color: gray;
}
tbody{
	position:absolute;
	width: 50%;
	height: 50%;
	
}
.table{
	position: absolute;
	width: 50%;
	height: 50%;
}
.profilebox12{
   position: absolute;
   top: 6%;
   left: 38%;
   width: 50px;
   height: 50px;
}
h5{
	position: absolute;
	top: 100%;
	left: 40%;
	font-size: 20px;
}
  .head12{
	top: 21%;
	left: 12.5%;
	position: absolute;
	width: 10%;
	height: 5px;
    margin: 0 auto;
    border: 4.5px solid black;
    border-radius: 50%;
    background-color: black;
  }
  .p_body15{
   top: 50%;
   position: absolute;
   width: 20%;
   height: 11%;
    margin: 0 auto;
    border: 7px solid black;
    background-color: black;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 20%;
    border-bottom-right-radius: 20%;
  }
.nametag{
   position: absolute;
   top: 11.5%;
   left: 18%;
   width: 100px;
   height: 20px;

}
div > h4{
   color: black;
   font-size: 19px;
   font-weight: bolder;
}
.aaa{
   color: black;
   font-weight: bolder;
   text-decoration: none;
}
.text10{
	border-bottom-color: gray;
   position: absolute;
   top: 23%;
   left: 4%;
   width: 260px;
   height: 30px;
   font-size: larger;

}
.text11{
   position: absolute;
   top: 32%;
   left: 4%;
   width: 260px;
   height: 30px;
   font-size: larger;
   border-bottom-color: gray;
}
.text12{
   position: absolute;
   top: 42%;
   left: 4%;
   width: 260px;
   height: 30px;
   font-size: larger;
	border-bottom-color: gray;
}
.text13{
   position: absolute;
   top: 52%;
   left: 4%;
   width: 260px;
   height: 30px;
   font-size: larger;
   border-bottom-color: gray;

}
.text14{
   position: absolute;
   top: 63%;
   left: 4%;
   width: 260px;
   height: 30px;
   font-size: larger;
   border-bottom-color: gray;

}
.text15{
   position: absolute;
   top: 74%;
   left: 4%;
   width: 260px;
   height: 30px;
   font-size: larger;
border-bottom-color: gray;
}
.text16{
   position: absolute;
   top: 85%;
   left: 4%;
   width: 260px;
   height: 30px;
   font-size: larger;
   border-bottom-color: gray;

}
.sub2{
	position: absolute;
	top: -7%;
	left: 200px;
	width: 100%;
	height: 550px;
}
.sub4{
	position: absolute;
	width: 150px;
	height: 500px;
	top: 10%;
	left: 275px;
}

.nm1{
	position: absolute;
	top: 60px;
	left: 30%;
}
.pw1{
	position: absolute;
	top: 114px;
	left: 30%;
}
.ph1{
	position: absolute;
	top: 167px;
	left: 30%;
}
.e1{
	position: absolute;
	top: 223px;
	left: 30%;
}
.date{
	position: absolute;
	top: 274px;
	left: 30%;
}
.po1{
	position: absolute;
	top: 365px;
	left: 30%;
}
.tre{
	position: absolute;
	top: 5%;
	left: 5%;
}