@charset "UTF-8";


a {
	font-family: Arial, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: dimgray;
	text-decoration: none;
}

.calendar_container {
	width: 700px;
	position: fixed;
	left: 30%;
	top: 23%;
	display: flex;
	justify-content: space-evenly;
	box-shadow: 1px 1px 25px rgb(0, 0, 0/ 17%);
	background-color: white;
	z-index: 9999;
}

.hide {
	display: none;
}

.calendar_container>button {
	margin-top: 4%;
	font-weight: bold;
	height: 10%;
}

.left_button {
	margin-left: 17%;
	border: transparent;
}

.right_button {
	margin-right: 17%;
	border: transparent;
}

.calendar {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top: 3%;
	margin-right: 2.5%;
}

.calendar_days>button {
	width: 48px;
	height: 47px;
	border-radius: 100%;
	background-color: transparent;
	border: transparent;
}

table {
	border-collapse: separate;
	border-spacing: 0 10px;
}

.day {
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: rgb(189, 189, 189);
}

.day_hover {
	border: 1px solid black !important;
}

.day_selected {
	background-color: black !important;
	color: #ffff;
}

.gray {
	color: lightgray;
}

.show {
	display: flex;
}

.room_name {
	position: absolute;
	display: flex;
	width: 700px;
	left: 15%;
	top: 2%;
	justify-content: space-evenly;
	align-items: center;
}

#calendarButton {
	position: absolute;
	display: flex;
	width: 700px;
	height: 40px;
	left: 15%;
	top: 4%;
	background-color: #5E5E5E;
	justify-content: center;
	align-items: center;
	color: white;
}

#room_img img {
	position: absolute;
	display: flex;
	width: 700px;
	height: 280px;
	top: 7%;
	left: 15%;
	margin-bottom: 50px;
}

#re_scroll {
	padding: 0px;
	position: fixed;
	top:16.5%;
	right: 4%;
	display: flex;
	width: 170px;
	height: 340px;
	border: 1px solid black;
	text-align: center;
	align-items: center;
	justify-content: center;
	background-color: white;
	font-size: 16px;
    color: rgb(0, 0, 0);
	z-index: 1000;
}


#re_scroll tr{
	height: 20px;
}
#ppd{
	font-size:14px;
}


#scroll_area{
	width:300px;
	height:100%;
	position: absolute;
	display: flex;
	right: 5%;
}

.btn {
	width: 140px;
	height: 40px;
	font-size: 16px;
    color: rgb(64, 64, 64);
    text-align: center;
    line-height: 2.5em;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
  	vertical-align: middle; /* 수직 가운데 정렬 */
}

.res {
	background-color: rgb(94, 94, 94);
	font-size: 16px;
    color: rgb(255, 255, 255);
}

.wish {
	background-color: rgb(224, 224, 224);
	font-size: 16px;
    color: rgb(64, 64, 64);
}

.icon_box {
	margin-top:80px;
	position: relative;
	display: flex;
	width: 700px;
	height: 100px;
	left: 15%;
	top: 20%;
	padding-left: 75px;
	text-align: center;
}

.icon_box>tr {
	
	vertical-align: middle;
}

.icon3 {
	width: 110px;
	height: 80px;
}

.icon_img{
	display: inline-block;
	width:30px;
	height:30px;
	vertical-align: middle;
}

#reviews_table{
	width:700px;
	height:210px;
	display:flex;
	position: relative;
	left:11%;
	top:18%;
	
}

.review_box {
	width: 230px;
  	height: 200px;
 	display: flex;
 	align-items: center; /* 수직 가운데 정렬 */
 	justify-content: center; /* 수평 가운데 정렬 */
	background-image: url('../icons/image.png');
 	background-repeat: no-repeat;
 	background-position: center;
 	background-size: cover; /* 배경 이미지를 가득 채우도록 설정 */
 	padding: 15px;
}

.review_table {
	word-wrap: break-word;
	width: 230px;
	height: 200px;
	display: flex;
	flex-direction: column; /* 열 방향으로 Flexbox 적용 */
}

.review_table tr:nth-child(1) {
	height: 20px;
}

.review_table tr:nth-child(2) {
	height: 180px;
	display: flex; /* 행 방향으로 Flexbox 적용 */
	flex-direction: column; /* 열 방향으로 Flexbox 적용 */
	justify-content: flex-start; /* 첫 번째 요소에 가깝게 배치 */
}

#line1{
	display:flex;
	width:350px;
	height: 2px;
	background-color: lightgray;
	position:relative;
	left : 35%;
	top : 20%;
}
#addr{
	display:flex;
	width:350px;
	height: 2px;
	position:relative;
	left : 35%;
	top : 21%;
}
#map{
	display: flex;
	width: 700px;
	height: 360px;
	position: relative;
	left:16%;
	top: 410px;
	margin-bottom: 50px;
}


